.popup__job {
    padding: 0 0 11px 0;
    text-align: start;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 48px;
    max-width: 358px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__job:focus {
    outline: none;
}

@media screen and (max-width:320px){
  .popup__job{
    margin-bottom: 45px;
  }
}