.profile__edit-button {
    background-image: url(../../../images/Edit-Button.svg);
    background-repeat: no-repeat;
    background-color: #000000;
    border: none;
    margin-top: 15px;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 1s linear 0s;
}
.profile__edit-button:hover{
    opacity: 0.5;
}
@media screen and (max-width:320px) {

    .profile__edit-button {
        margin-top: 0;
        padding: 0;
        margin-left: 10px;
        background-size: 18px 18px;
        height: 18px;
        width: 18px;
    }
}