.popup__image-close-button {
    background-image: url(../../../images/Close-Icon.svg);
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: -35px;
    top: -35px;
    transition: opacity 1s linear 0s;
}

.popup__image-close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width:620px) {
    .popup__image-close-button {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        right: 0;
        top: -35px;
    }
}