.profile__info {
    max-width: 338px;
    display: grid;
    grid-auto-flow: column dense;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr min-content;
    grid-template-rows: 1fr min-content;
}

@media screen and (max-width:320px) {

    .profile__info {
        justify-items: center;
        margin-right: 0;
        margin-bottom: 36px;
        max-width: 282px;
    }
}