.profile__user-about {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

@media screen and (max-width:320px) {

    .profile__user-about {
        text-align: center;
        margin-left: 48px;
        padding: 0;
        font-size: 14px;
        line-height: 17px;
        max-width: 180px;
        width: 100%;
    }
}